//Changelog at file tail
ID = Emerald.BaBPersonalPatch
Name = "Emmy Battle & Build Personal Patch (BBPP)"
Version = 2.1.0
CompatibleGameVersions = ["0.28.0"]
ModifiesMultiplayer = true
StringsFolder = "strings"
Author = "Emerald Blood"
Description = "Vastly expands the base game Build & Battle mode to include many differing mods. Currently includes 10+ mods to improve the experience. Along with other mod compatibility, the mod also adds the following:\n\n- Custom pricing for techs to attempt to better balance options.\n\n- Bundled techs to ensure more stable tech spreads and let more weaker/situtational techs be played.\n\n- New items to allow for better Build & Battle experience.\n\nReminder that all players require this mod, as well as all required mods. If you have any issues or requests, contact me on the Steam Fourms or GitHub repository."

Actions
[
	//Replace base list with custom list
	//Draftable techs & prices
	{
		Action = Replace
		Replace = "<modes/pvp/pvp_buildbattle/pvp_buildbattle.rules>/Mode/Techs"
		IgnoreIfNotExisting = false
		With = &<base-techs.rules>/Techs
	}
	//Starting tech whitelist
	{
		Action = Replace
		Replace = "<modes/pvp/pvp_buildbattle/pvp_buildbattle.rules>/Mode/PartsWhitelist"
		IgnoreIfNotExisting = false
		With = &<base-techs.rules>/PartsWhitelist
	}
	//Gamemode Changes
	//Replace mode icon with Maxwell. What a good boy
	{
		Action = Replace
		Replace = "<modes/pvp/pvp_buildbattle/pvp_buildbattle.rules>/Mode/Icon"
		IgnoreIfNotExisting = false
		With = &<mode-rules.rules>/Mode/Icon
	}
	//Replace stash icon with Neco Arc. :3
	{
		Action = Replace
		Replace = "<modes/pvp/pvp_buildbattle/pvp_buildbattle.rules>/Mode/StashIcon"
		IgnoreIfNotExisting = false
		With = &<mode-rules.rules>/Mode/StashIcon
	}
	//Updates tech per round
	{
		Action = Replace
		Replace = "<modes/pvp/pvp_buildbattle/pvp_buildbattle.rules>/Mode/RandomOfferingsPerRound"
		IgnoreIfNotExisting = false
		With = &<mode-rules.rules>/Mode/RandomOfferingsPerRound
	}
	//Adds new categories to the draft
	{
		Action = Replace
		Replace = "<modes/pvp/pvp_buildbattle/pvp_buildbattle.rules>/Mode/TechOfferingsPerRound"
		IgnoreIfNotExisting = false
		With = &<mode-rules.rules>/Mode/TechOfferingsPerRound
	}
	/* NameKey is currently crashing. To be fixed later
	//Adds default mode to B&B settings list
	{
		Action = AddMany
		AddTo = "<modes/pvp/pvp_buildbattle/pvp_buildbattle.rules>/Mode/OfficialRulesets"
		IgnoreIfNotExisting = true
		ManyToAdd = &<mode-rules.rules>/Mode/OfficialRulesets
	} */
	//Emmy B&B Custom Parts
	{ 
		Action = AddMany
		AddTo = "<ships/terran/terran.rules>/Terran/Parts"
		ManyToAdd = [
			//Auto Charge
			&<assets/auto_charge/auto_charge.rules>/Part
			//Auto Charge LR
			&<assets/auto_charge_lr/auto_charge_lr.rules>/Part
			//Tiny Reactor
			&<assets/reactor_tiny/reactor_tiny.rules>/Part
			//Tiny Cockpit
			&<assets/control_room_tiny/control_room_tiny.rules>/Part
			//Tiny Capacitor
			&<assets/capacitor_tiny/capacitor_tiny.rules>/Part
			//Unused testing content not released in the release. Do not uncomment or will crash.
			//&<assets/auto_gun/auto_gun.rules>/Part
		]
		IgnoreIfNotExisting = true
	}
	//Basegame Stats Changes
	//Railgun: Multipler from 20% up to 40% (2x per segment)
	{
		Action = Replace
		Replace = "<buffs/buffs.rules>/RailgunShot/Multiplier"
		IgnoreIfNotExisting = false
		With = 40%
	}
	//Mod support
	//Techs & prices
	{
		Action = AddMany
		AddTo = "<../Standard Mods/emmy-bbpp/base-techs.rules>/Techs"
		ManyToAdd = &<mod-parts.rules>/Techs
	}
	//Starting techs whitelist
	{
		Action = AddMany
		AddTo = "<../Standard Mods/emmy-bbpp/base-techs.rules>/PartsWhitelist"
		ManyToAdd = &<mod-parts.rules>/PartsWhitelist
	}
]